body{
    background: gray;
}
.section{
    background: honeydew;
}
.H{
    background: gray;
}
.p{
    background: gray;
}
.article{
    background: gray;
}
div{
    background: honeydew;
}
header{
    background: honeydew;
}