body {
    text-align: center;
    background: #777;
    align-content: center;
    font-family: sans-serif;
    width: 960px;
    font-size: 18px;
    margin-left: 25%;

}

.section {
    background: #EBEBEb;
    height: 215px;
    width: 495px;
    float: left;
    padding: ;
    margin: 10px;

}

.h-section{
    background: #ebebeb;
    margin: 8px;
    position: relative;
    top: 15%;
    height: 25%;
}

.P-section{
    background: #ebebeb;
    margin: 8px;
    position: relative;
    top: 15%;
    height: 25%;
}
.article{
    background: #777;
    position: relative;
    top: 20%;
    margin: 7px;
    width: 480px;
    height: 65%;

}
div{
    background: #ebebeb;
    text-align: center;
}
header{ 
    width: 900px;
    height: 70px;
    align-content: center;
    background: #ebebeb;
    margin: 10px;
    
}
.aside{
    margin: 10px;
    float: left;
    height: 215px;
    width: 385px;
 
}
.footer{
    width: 900px;
    height: 70px;
    clear: both; 
    margin: 10px;
   
}
.nav{
    width: 900px;
    height: 70px;
    margin: 10px;
}

